body {
    background-color: gray;
}

#game-area {
    position: relative;
    display: inline-block;
}

#canvas {
    border: 1px solid black;
}

#score-container {
    font-family: 'Press Start 2P', Arial, sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
    padding: 10px;
    color: white;
}

.pacman {
    fill: yellow;
}

.ghost {
    fill: red;
}

.pellet {
    fill: white;
    stroke: black;
}

.power-pellet {
    fill: white;
    stroke: black;
}

#game-over-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

#game-over-container h1 {
    font-family: 'Press Start 2P', Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    position: relative;
    /*transform: translateY(calc(450px - 50%));*/
}
