body {
    background-color: #3a3e57;
    background-repeat: repeat;
    margin-top: 20px;
}

.game-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#game-area {
    position: relative;
}

#canvas {
    border: 10px solid black;
}

#score-container {
    font-family: 'Press Start 2P', Arial, sans-serif;
    font-size: 18px;
    padding: 15px;
    padding-bottom: 5px;
    color: white;
    background-color: black;
    width: 854px; /* Match the canvas + border width - score container padding*/
}

.pacman {
    fill: yellow;
}

.ghost {
    fill: red;
}

.pellet {
    fill: white;
    stroke: black;
}

.power-pellet {
    fill: white;
    stroke: black;
}

#game-over-container {
    position: absolute;
    top: 0;
    left: 0;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

#game-over-container h1 {
    font-family: 'Press Start 2P', Arial, sans-serif;
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    margin: 0;
    position: relative;
}
