#canvas {
    border: 1px solid black;
}

#score-container {
    font-family: 'Arial', sans-serif;
    font-size: 18px;
    margin-bottom: 10px;
}

.pacman {
    fill: yellow;
}

.ghost {
    fill: red;
}

.pellet {
    fill: white;
    stroke: black;
}

.power-pellet {
    fill: white;
    stroke: black;
}
